---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
  <main
    class="container mx-auto flex min-h-screen flex-col items-center justify-center p-4"
  >
    <h1
      class="text-5xl font-extrabold leading-normal text-gray-700 dark:text-gray-200 md:text-[5rem]"
    >
      404!
    </h1>
    <p class="footer text-xl text-gray-700 dark:text-gray-200 underline">
      <a href="/">return to home</a>
    </p>
  </main>
</SiteLayout>
