---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>sting alleman</title>
    <meta name="description" content="sting alleman" />
  </head>
  <body>
    <main
      class="container mx-auto flex min-h-screen flex-col items-center justify-center p-4"
    >
      <h1
        class="text-5xl font-extrabold leading-normal text-gray-700 md:text-[5rem]"
      >
        404!
      </h1>
      <p class="footer text-xl text-gray-700">
        <a href="/">return to home</a>
      </p>
    </main>
  </body>
</html>
